body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 6% 1% 33% 1% 49% 1% 9%;
    margin-right: 3.75rem;
    margin-left: 3.75rem;
    margin-top: 1.275rem;
    margin-bottom: 1.275rem;
    height: 100vh;
}

.top-nav-section {
    display: flex;
    justify-content: space-between;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.section-2 {
    /* grid-row: 2 / 3;
    grid-column: 1 / 2; */
}

.top-nav-nav {
    display: block;
}

.top-nav-links {
    border-right: 1.5px solid #b8b8b8;
    padding-right: 2em;
    padding-left: 2em;
    text-decoration: none;
}

.top-nav-links:nth-child(3) {
    border-right: unset;
}

.horizontal-line {
    margin-left: -3.75rem;
    margin-right: -3.75rem;
}

