body {
    margin: 0;

    .container {
        $containerMarginX: 3.75rem;
        $containerMarginY: 1.275rem;

        display: grid;
        grid-template-rows: 6% 33% 49% 9%;
        grid-template-columns: 30% 70%;
        margin-right: $containerMarginX;
        margin-left: $containerMarginX;
        margin-top: $containerMarginY;
        margin-bottom: $containerMarginY;
        height: 100vh;

        .top-nav-section {
            display: flex;
            justify-content: space-between;
            grid-column: 1 / 3;
            grid-row: 1 / 2;

            .top-nav-nav {
                display: block;
    
                $topNavPaddingX: 2em;
    
                .top-nav-links {
                    border-right: 1.5px solid #b8b8b8;
                    padding-right: $topNavPaddingX;
                    padding-left: $topNavPaddingX;
                    text-decoration: none;
                }
    
                .top-nav-links:nth-child(3) {
                    border-right: unset;
                }
            }
        }

        .sidebar-section {
            grid-row: 2 / 5;
            grid-column: 1 / 2;
        }

        .main-section {
            display: flex;
            flex-direction: column;
            grid-row: 2 / 5;
            grid-column: 2 / 3
        }

        .horizontal-line {
            margin-left: $containerMarginX * (-1);
            margin-right: $containerMarginX * (-1);
        }
    }
}

